#main {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

#header, #grid, #button {
  align-items: center;
  justify-content: center;
  display: flex;
}

button {
  width: 40px;
  height: 40px;
  background-color: gray;
  box-shadow: -2px -2px inset, 2px 2px lightgray inset;
}

table {
  width: 500px;
}

td {
  width: 10%;
  padding: 10px;
  background-color: lightgray;
  box-shadow: -3px -3px inset, 3px 3px lightgray inset;
}

img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.box {
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.hidden, .marked {
  background-color: gray;
}

.blank, .showNum {
  background-color: lightgray;
  font-weight: bold;
  box-shadow: none;
}

.dead {
  background-color: red;
  box-shadow: none;
}

.mine  {
  background-color: lightsalmon;
  box-shadow: none;
}

.end {
  pointer-events: none;
  box-shadow: none;
}